.nav-streaming {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), transparent);
  position: fixed;
  width: 100%;
  z-index: 100;
}

.logout-pill {
  background: #e50914;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.hero-section {
  height: 70vh;
  background-size: cover;
  background-position: center;
}
.hero-overlay {
  height: 100%;
  background: linear-gradient(to right, var(--black), transparent);
  display: flex;
  align-items: center;
  padding: 0 5%;
}
.hero-data h1 {
  font-size: 4rem;
  margin: 10px 0;
}

.movies-content {
  padding: 40px 5%;
  margin-top: -100px;
  position: relative;
}
.movie-row {
  margin-bottom: 50px;
}
.row-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  border-left: 4px solid var(--yellow);
  padding-left: 15px;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}

.movie-card {
  background: var(--card-bg);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease, border 0.3s;
  border: 1px solid #222;
}
.movie-card:hover {
  transform: scale(1.05);
  border-color: var(--yellow);
  z-index: 10;
}

.poster-box {
  position: relative;
  height: 320px;
}
.poster-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 12px;
}
.tag-y {
  background: var(--yellow);
  color: black;
  font-size: 0.65rem;
  font-weight: 800;
  padding: 2px 6px;
  border-radius: 3px;
}

.movie-title {
  padding: 0 12px;
  font-size: 1rem;
  font-weight: bold;
}

.sessions-box {
  padding: 15px 12px;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
.btn-time {
  background: #333;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 0.75rem;
  cursor: pointer;
  transition: 0.2s;
}
.btn-time:hover {
  background: var(--yellow);
  color: black;
  font-weight: bold;
}

.upcoming .movie-card {
  opacity: 0.6;
  filter: grayscale(0.5);
  pointer-events: none;
}

.btn-main {
  width: 200px;
  padding: 16px;
  background: var(--yellow);
  color: #000;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;

  transition: all 0.2s linear;
}

.btn-main:hover {
  transform: scale(1.1);
  background: var(--yellow-hover, #e6b800);
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: -1px;
  color: #fff;
  user-select: none;
}

.logo strong {
  font-size: 2rem;
}
